Basic Statistics:

    Total Kills (K) per player. (By scope, by side, ) 
    Total Deaths (D) per player.
    Kill/Death ratio (K/D) per player.
    Average Combat Score (ACS) per player.
    Average Damage per Round (ADR) per player.

Performance Metrics:

    Headshot Percentage (HS%) per player.
    First Kills (FK) and First Deaths (FD) counts and ratios.
    Kill/Death difference (+/-) per player.
    Kill/Death difference in pistol rounds (+/-) per player.

Agent-Specific Metrics:

    Agent popularity and performance analysis.
    Win rates and performance on specific maps for each agent.

Team Performance:

    Total team Kills, Deaths, and K/D ratio.
    Team Average Combat Score (ACS) and Average Damage per Round (ADR).
    Team First Kills (FK) and First Deaths (FD) counts and ratios.

Map Performance:

    Individual player performance on each map.
    Team performance on each map.
    Win rates on each map.

Stage and Series Analysis:

    Performance in different stages (e.g., Playoffs, Grand Final).
    Series-level statistics and win rates.

Comparative Analysis:

    Compare individual player statistics against the team average.
    Compare agent performance across players.

Trend Analysis:

    Analyze how player performance changes over different maps or series.
    Identify trends in individual player K/D ratios.

Impact Analysis:

    Assess the impact of individual player performance on team success.

In [39]:
import pandas as pd
import ast

data = pd.read_csv('champions-tour-2024-pacific-kickoff_data\economy_data_champions-tour-2024-pacific-kickoff.csv')

In [41]:
data.columns

Index(['Team Name', 'Map #', 'Map Name', 'Stage', 'Series', 'Pistol_Won',
       'Eco', 'Eco_Won', '$', '$_Won', '$$', '$$_Won', '$$$', '$$$_Won',
       'Bank', 'Buys', 'nb_rounds'],
      dtype='object')

In [46]:
data['nb_rounds'] = data['Bank'].apply(lambda x : len(ast.literal_eval(x)))

summary_rounds = {team : (data.loc[data['Team Name'] == team,['Pistol_Won']].sum().values[0],
                        2 * len(data.loc[data['Team Name'] == team]),
                            data.loc[data['Team Name'] == team,['Eco_Won']].sum().values[0],
                            data.loc[data['Team Name'] == team,['Eco']].sum().values[0],
                            data.loc[data['Team Name'] == team,['$_Won']].sum().values[0],
                            data.loc[data['Team Name'] == team,['$']].sum().values[0],
                            data.loc[data['Team Name'] == team,['$$_Won']].sum().values[0],
                            data.loc[data['Team Name'] == team,['$$']].sum().values[0],
                            data.loc[data['Team Name'] == team,['$$$_Won']].sum().values[0],
                            data.loc[data['Team Name'] == team,['$$$']].sum().values[0],
                            data.loc[data['Team Name'] == team,['nb_rounds']].sum().values[0]) for team in set(data['Team Name'])}

In [47]:
df = pd.DataFrame.from_dict(summary_rounds, orient='index', columns=['Pistol_Won','Pistol',
        'Eco_Won','Eco', '$_Won', '$', '$$_Won', '$$', '$$$_Won', '$$$', 'nb_rounds'])

# Reset index to have the index as a separate column
df.reset_index(inplace=True)
# Rename the index column to 'key'
df.rename(columns={'index': 'Team Name'}, inplace=True)

# Output the DataFrame
df.head()

,Team Name,Pistol_Won,Pistol,Eco_Won,Eco,$_Won,$,$$_Won,$$,$$$_Won,$$$,nb_rounds
0,TS,11,22,12,33,2,11,33,50,77,131,225
1,BLD,5,10,5,15,1,6,11,28,38,73,122
2,PRX,7,18,8,29,0,10,25,47,65,105,191
3,T1,7,14,8,22,0,6,19,35,61,100,163
4,DRX,9,12,10,18,1,4,17,32,44,79,133

In [53]:
df['ratio_eco_won'] = round(df['Eco_Won'] / df['Eco'], 2)

In [54]:
df

,Team Name,Pistol_Won,Pistol,Eco_Won,Eco,$_Won,$,$$_Won,$$,$$$_Won,$$$,nb_rounds,ratio_eco_won
0,TS,11,22,12,33,2,11,33,50,77,131,225,0.36
1,BLD,5,10,5,15,1,6,11,28,38,73,122,0.33
2,PRX,7,18,8,29,0,10,25,47,65,105,191,0.28
3,T1,7,14,8,22,0,6,19,35,61,100,163,0.36
4,DRX,9,12,10,18,1,4,17,32,44,79,133,0.56
5,ZETA,13,22,14,31,1,12,24,56,56,113,212,0.45
6,DFM,2,8,2,13,0,5,12,27,20,41,86,0.15
7,GEN,21,40,24,61,10,26,63,105,135,237,429,0.39
8,TLN,7,12,8,20,2,5,13,29,36,68,122,0.40
9,RRQ,5,12,6,19,1,6,20,43,36,68,136,0.32
10,GE,5,14,6,24,0,5,18,39,40,81,149,0.25

In [48]:
def create_summary_rounds_dataset(data):
    """ Economy data into summary of each teams with rounds statistics
    """
    data['nb_rounds'] = data['Bank'].apply(lambda x : len(ast.literal_eval(x)))
    
    summary_rounds = {team : (data.loc[data['Team Name'] == team,['Pistol_Won']].sum().values[0],
                            2 * len(data.loc[data['Team Name'] == team]),
                                data.loc[data['Team Name'] == team,['Eco_Won']].sum().values[0],
                                data.loc[data['Team Name'] == team,['Eco']].sum().values[0],
                                data.loc[data['Team Name'] == team,['$_Won']].sum().values[0],
                                data.loc[data['Team Name'] == team,['$']].sum().values[0],
                                data.loc[data['Team Name'] == team,['$$_Won']].sum().values[0],
                                data.loc[data['Team Name'] == team,['$$']].sum().values[0],
                                data.loc[data['Team Name'] == team,['$$$_Won']].sum().values[0],
                                data.loc[data['Team Name'] == team,['$$$']].sum().values[0],
                                data.loc[data['Team Name'] == team,['nb_rounds']].sum().values[0]) for team in set(data['Team Name'])}
    
    df = pd.DataFrame.from_dict(summary_rounds, orient='index', columns=['Pistol_Won','Pistol',
        'Eco_Won','Eco', '$_Won', '$', '$$_Won', '$$', '$$$_Won', '$$$', 'nb_rounds'])
    # Reset index to have the index as a separate column
    df.reset_index(inplace=True)
    # Rename the index column to 'key'
    df.rename(columns={'index': 'Team Name'}, inplace=True)

    return df

In [49]:
t = create_summary_rounds_dataset(data)

In [61]:
def create_ratio_economy_rounds(data):
    """ 
    Function that creates a dataframe with winrate for each Eco's, light buys, semi buys and full buys 
        as well as the ratio of eco rounds, light buys, semi buys and full buys
    
    Parameter:
        data : dataframe from create_summary_rounds_dataset()

    Return:
        df with added feature : ratio_pistol_won, ratio_eco_won, ratio_$_won, ratio_$$_won, ratio_$$$_won, ratio_eco, ratio_$, ratio_$$, ratio_$$$
    """

    # deal with null denominators 
    data['Pistol'] = data['Pistol'].replace(0,1)
    data['Eco'] = data['Eco'].replace(0,1)
    data['$'] = data['$'].replace(0,1)
    data['$$'] = data['$$'].replace(0,1)
    data['$$$'] = data['$$$'].replace(0,1)

    # ratio 
    data['ratio_pistol_won'] = round(data['Pistol_Won'] / data['Pistol'], 2)
    data['ratio_eco_won'] = round(data['Eco_Won'] / data['Eco'], 2)
    data['ratio_$_won'] = round(data['$_Won'] / data['$'], 2)
    data['ratio_$$_won'] = round(data['$$_Won'] / data['$$'], 2)
    data['ratio_$$$_won'] = round(data['$$$_Won'] / data['$$$'], 2)
    data['ratio_Eco'] = round(data['Eco'] / data['nb_rounds'], 3)
    data['ratio_$'] = round(data['$'] / data['nb_rounds'], 3)
    data['ratio_$$'] = round(data['$$'] / data['nb_rounds'], 3)
    data['ratio_$$$'] = round(data['$$$'] / data['nb_rounds'], 3)

    return data

In [62]:
l = create_ratio_economy_rounds(t)

In [63]:
l

,Team Name,Pistol_Won,Pistol,Eco_Won,Eco,$_Won,$,$$_Won,$$,$$$_Won,...,nb_rounds,ratio_pistol_won,ratio_eco_won,ratio_$_won,ratio_$$_won,ratio_Eco,ratio_$,ratio_$$,ratio_$$$,ratio_$$$_won
0,TS,11,22,12,33,2,11,33,50,77,...,225,0.50,0.36,0.18,0.66,0.147,0.049,0.222,0.582,0.59
1,BLD,5,10,5,15,1,6,11,28,38,...,122,0.50,0.33,0.17,0.39,0.123,0.049,0.230,0.598,0.52
2,PRX,7,18,8,29,0,10,25,47,65,...,191,0.39,0.28,0.00,0.53,0.152,0.052,0.246,0.550,0.62
3,T1,7,14,8,22,0,6,19,35,61,...,163,0.50,0.36,0.00,0.54,0.135,0.037,0.215,0.613,0.61
4,DRX,9,12,10,18,1,4,17,32,44,...,133,0.75,0.56,0.25,0.53,0.135,0.030,0.241,0.594,0.56
5,ZETA,13,22,14,31,1,12,24,56,56,...,212,0.59,0.45,0.08,0.43,0.146,0.057,0.264,0.533,0.50
6,DFM,2,8,2,13,0,5,12,27,20,...,86,0.25,0.15,0.00,0.44,0.151,0.058,0.314,0.477,0.49
7,GEN,21,40,24,61,10,26,63,105,135,...,429,0.52,0.39,0.38,0.60,0.142,0.061,0.245,0.552,0.57
8,TLN,7,12,8,20,2,5,13,29,36,...,122,0.58,0.40,0.40,0.45,0.164,0.041,0.238,0.557,0.53
9,RRQ,5,12,6,19,1,6,20,43,36,...,136,0.42,0.32,0.17,0.47,0.140,0.044,0.316,0.500,0.53
10,GE,5,14,6,24,0,5,18,39,40,...,149,0.36,0.25,0.00,0.46,0.161,0.034,0.262,0.544,0.49

Test bank and economy

In [1]:
import ast
import numpy as np

resulta = list(set(argent.loc[argent['Team Name'] == 'GEN', ['Stage', 'Series', 'Team Name']].apply(lambda x: (x['Stage'],x['Series']), axis=1)))
resultb = list(set(argent.loc[argent['Team Name'] == 'PRX', ['Stage', 'Series', 'Team Name']].apply(lambda x: (x['Stage'],x['Series']), axis=1)))
# argent[argent['Team Name'] == 'T1']['Buys'].apply(lambda x: np.mean(ast.literal_eval(x)))

NameError: name 'argent' is not defined

In [12]:
resultb

[('Playoffs', 'Semifinals'),
 ('Playoffs', 'Grand Final'),
 ('Group Stage', "Winner's (C)")]

In [15]:
list(argent.loc[(argent['Team Name'] == 'T1') & (argent['Stage'] == 'Playoffs') & (argent['Series'] == 'Semifinals')]['Map Name'])

['Split', 'Ascent']

In [ ]:
team = ['RRQ', 'ZETA']
argent.loc[(argent['Team Name'] == team[0]) & (argent['Team Name'] == team[1]), ['Stage', 'Series', 'Team Name']]

In [15]:
stage = 'Group Stage'
series = 'Opening (C)'
map_name = 'Icebox'
team = ['RRQ', 'ZETA']
import ast
argent.loc[(argent['Series'] == series)]

,Team Name,Map #,Map Name,Stage,Series,Pistol_Won,Eco,Eco_Won,$,$_Won,$$,$$_Won,$$$,$$$_Won,Bank,Buys
4,GEN,1,Icebox,Group Stage,Opening (C),1,4,1,2,2,5,3,13,7,"[400, 8100, 500, 7000, 3700, 8300, 10100, 2130...","[3700, 4100, 20500, 9900, 23300, 7300, 23600, ..."
5,RRQ,1,Icebox,Group Stage,Opening (C),1,3,1,1,0,5,4,15,6,"[200, 1800, 13000, 10900, 6000, 11700, 3200, 7...","[3600, 15700, 14200, 22500, 16600, 22000, 1910..."
6,GEN,2,Split,Group Stage,Opening (C),1,3,1,1,0,8,4,12,6,"[100, 7500, 900, 7000, 2300, 7400, 5800, 3900,...","[4300, 3000, 20700, 11500, 20500, 10400, 19600..."
7,RRQ,2,Split,Group Stage,Opening (C),1,3,1,1,0,9,4,11,8,"[0, 3900, 13700, 11100, 12100, 16100, 17000, 1...","[3700, 13600, 13200, 21300, 20700, 21200, 2200..."
8,GEN,3,Sunset,Group Stage,Opening (C),1,3,1,0,0,5,3,13,9,"[0, 7600, 1300, 9900, 7600, 13400, 3900, 6800,...","[4000, 3300, 19500, 20400, 21300, 23400, 20300..."
9,RRQ,3,Sunset,Group Stage,Opening (C),1,3,1,1,0,10,4,7,3,"[200, 3500, 10900, 2200, 7700, 5000, 8000, 820...","[3800, 15500, 12500, 19500, 9000, 20300, 21500..."

In [11]:
argent.loc[argent['Stage'] == stage]

,Team Name,Map #,Map Name,Stage,Series,Pistol_Won,Eco,Eco_Won,$,$_Won,$$,$$_Won,$$$,$$$_Won,Bank,Buys
0,T1,1,Breeze,Group Stage,Opening (A),0,4,0,2,0,5,3,23,15,"[400, 8600, 300, 6900, 2800, 9000, 3800, 1400,...","[3800, 2700, 21000, 22300, 16600, 9500, 23900,..."
1,BLD,1,Breeze,Group Stage,Opening (A),2,2,2,0,0,9,4,23,10,"[300, 2800, 15400, 2200, 4300, 7000, 16100, 22...","[3800, 16500, 17900, 24200, 22700, 23600, 2540..."
2,T1,2,Lotus,Group Stage,Opening (A),2,2,2,1,0,5,4,11,7,"[300, 2600, 9000, 9700, 17800, 6800, 9300, 103...","[3900, 17200, 19200, 24300, 25400, 24900, 2620..."
3,BLD,2,Lotus,Group Stage,Opening (A),0,3,0,1,0,7,1,8,5,"[300, 8700, 900, 7300, 1000, 10000, 1200, 6300...","[3800, 2300, 21200, 11600, 23300, 23500, 19200..."
4,GEN,1,Icebox,Group Stage,Opening (C),1,4,1,2,2,5,3,13,7,"[400, 8100, 500, 7000, 3700, 8300, 10100, 2130...","[3700, 4100, 20500, 9900, 23300, 7300, 23600, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,TS,2,Ascent,Group Stage,Decider (B),1,3,1,1,0,4,3,12,9,"[400, 8700, 600, 7800, 7200, 19200, 5500, 2900...","[3200, 2400, 20700, 23000, 23300, 24400, 24300..."
58,ZETA,1,Bind,Group Stage,Decider (A),1,3,1,1,1,3,3,14,8,"[200, 600, 6600, 18800, 22300, 29900, 35300, 1...","[3400, 17300, 18900, 19000, 24000, 24000, 2330..."
59,GE,1,Bind,Group Stage,Decider (A),1,3,1,1,0,10,5,7,2,"[400, 900, 13800, 7800, 5600, 2000, 2900, 6200...","[3500, 11100, 1300, 22500, 19300, 19500, 17600..."
60,ZETA,2,Lotus,Group Stage,Decider (A),2,2,2,0,0,3,3,11,8,"[200, 3300, 4900, 11900, 17300, 19100, 31100, ...","[3800, 17100, 20500, 23700, 23700, 23500, 2380..."
61,GE,2,Lotus,Group Stage,Decider (A),0,3,0,2,0,3,0,8,3,"[200, 9000, 1200, 13500, 9200, 6000, 900, 1060...","[3700, 1700, 21600, 5800, 21400, 21000, 20400,..."

In [15]:
teams = set(argent['Team Name'])

banks_buys = {team : (round(np.mean(argent[argent['Team Name'] == team]['Bank'].apply(lambda x: np.mean(ast.literal_eval(x)))),2), round(np.mean(argent[argent['Team Name'] == team]['Buys'].apply(lambda x: np.mean(ast.literal_eval(x)))),2))for team in teams}